<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Violões
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color ="cinza">
  
  <ion-list>

    <!-- <ion-item *ngFor="let p of produtos | async" (click)= "adicionarProduto(produto.key)">
         <ion-avatar slot="start" *ngIf="produto.img">
          <img [src]="produto.img" />
        </ion-avatar>
        <ion-label text-wrap> -->
           <!-- <h1>{{ p.nome }}</h1> -->
          <!-- <h2>{{ p.categoriaNome }}</h2> -->
          <!-- <pre text-wrap>{{ p.descricao }}</pre> -->
        <!-- </ion-label> -->
       <!-- </ion-item>  -->
      <ion-item></ion-item>
    </ion-list>

</ion-content>