<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button color ="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color ="light">
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color ="cinza">
    <ion-list>
        <ion-item color ="cinza">
          <ion-label>  {{ usuario.name }}</ion-label>
        </ion-item>
        <ion-item color ="cinza">
          <ion-label >{{ usuario.email }}</ion-label>
        </ion-item>
      </ion-list>


      <!-- <ion-button expand="block" color="success" [routerLink]="['/enderecos']">Meus Endereços</ion-button>


      <ion-button expand="block" color="danger" (click)="deslogar()">Sair</ion-button> -->

</ion-content>

<ion-button expand="block" color="dark" [routerLink]="['/enderecos']">Meus Endereços</ion-button>


      <ion-button expand="block" color="dark" (click)="deslogar()">Sair</ion-button>
