<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
          <ion-label>{{ usuario.name }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{ usuario.email }}</ion-label>
        </ion-item>
      </ion-list>
      <ion-button expand="block" color="success" [routerLink]="['/usuarios/enderecos']">Meus Endereços</ion-button>
      <ion-button expand="block" color="danger" (click)="deslogar()">Sair</ion-button>

</ion-content>
