<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>

      <ion-label>Principais Ofertas</ion-label>
      <!-- <ion-select (ionChange)="buscarProdutos()" [(ngModel)]="categoriasSelecionada"> -->
        <ion-select-option value="" [selected]="true">Todas</ion-select-option>
        <ion-select-option *ngFor="let categoria of categorias | async" [value]="categoria.key">{{ categoria.nome }}
        </ion-select-option>
      <!-- </ion-select> -->

    </ion-item>

    <ion-item *ngFor="let produto of produtos | async">
      <ion-avatar slot="start" *ngIf="produto.img"> -->
        <img [src]="produto.img" />
      </ion-avatar>
      <ion-label text-wrap>
         <h1>{{ produto.nome }}</h1>
        <h2>{{ produto.categoriaNome }}</h2>
        <pre text-wrap>{{ produto.descricao }}</pre>
        <!-- <span>{{ produto.preco | currency:'BRL' }}</span> -->
        <app-preco [preco]="produto.preco"></app-preco>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="carrinhoPossuiItens">
    <ion-fab-button [routerLink]="['/pedido/carrinho']" color="secondary">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>