<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Meu Carrinho
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="cinza">
  <ion-list>
    <ion-item *ngFor="let item of itensdoPedido | async">
      <ion-label text-wrap>
        <h1>{{ item.produtoNome }}</h1>
        <pre *ngIf="item.produtoDescricao" text-wrap>{{ item.produtoDescricao }}</pre>
        <pre *ngIf="item.observacao" text-wrap>{{ item.observacao }}</pre>
        <p>Preço: <app-preco [preco]="item.produtoPreco"></app-preco></p>
        <p>Total: <app-preco [preco]="item.total"></app-preco></p>

        <ion-grid>
          <ion-row align-items-center>
            <ion-col>
              <ion-button expand="block" color="dark" (click)="adicionarQuantidade(item)">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col text-center>
              {{ item.quantidade }}
            </ion-col>
            <ion-col>
              <ion-button expand="block" color="dark" (click)="removerQuantidade(item)">
                <ion-icon name="remove"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <p padding-horizontal text-right><b>Total do pedido: </b>
    <app-preco [preco]="total"></app-preco>
  </p>
  <ion-button color="dark" expand="block" size="large" [routerLink]="['/form-pagamento']">
    Forma de pagamento
    <ion-icon slot="end" name="arrow-forward"></ion-icon>
  </ion-button>
</ion-footer>