<ion-tabs color ="cinza">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab-violao">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Violões</ion-label>
      <ion-badge></ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="tab-guitarras">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Guitarras</ion-label>
      <ion-badge></ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="tab-baixos">
      <ion-icon name="map"></ion-icon>
      <ion-label>Contra-Baixos</ion-label>
      <ion-badge></ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<div >

</div>


