<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Violões</ion-label>
      <ion-badge></ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="speakers">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Guitarras</ion-label>
      <ion-badge></ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>Contra-Baixos</ion-label>
      <ion-badge></ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>


